.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:  rgb(241, 239, 228); /* Set your desired background color */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .footer img {
    height: 30px; /* Set your desired height for the logo */
    margin-right: 10px; /* Add some spacing between the logo and text */
  }
  