/* Login.css */

.login-form {
    max-width: 400px;
    min-height: 250px;
    margin: 0 auto;
    padding: 25px;
    background-color: rgb(248, 247, 242);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0.8 0.8, 0.8, 0.8);
   
}

.username, .password {
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.username input, .password input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-btn, .signUp-btn {
    text-align: center;
    margin-top: 20px;
}

.login-btn button, .signUp-btn button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-btn button:hover, .signUp-btn button:hover {
    background-color: #45a049;
}

/* Media query for small screens */
@media (max-width: 768px) {
    .login-form {
        max-width: 100%; /* Full width on small screens */
    }

    .username input, .password input {
        width: calc(100% - 16px); /* Adjust input width */
    }

    .login-btn button, .signUp-btn button {
        width: 100%; /* Full width buttons */
    }
}
